<div class="container mt-4">
    <h2 class="mb-4">Lista de Series</h2>
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Canal</th>
          <th>Temporadas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let serie of series">
          <td>{{ serie.id }}</td>
          <td>{{ serie.name }}</td>
          <td>{{ serie.channel }}</td>
          <td>{{ serie.seasons }}</td>
        </tr>
        <tr>
            <td colspan="4"><strong> Seasons average: {{averageSeasons}}</strong></td>
        </tr>
      </tbody>
    </table>
  </div>