<nav class="navbar bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://images.vexels.com/media/users/3/208492/isolated/preview/06babd23b6762b6ef80eaefe51ef37a8-icono-de-trazo-cuadrado-de-television.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        TV Series
      </a>
    </div>
  </nav>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <app-serie-list (selectedSerie)="onSelectedSerie($event)" />
    </div>
    <div class="col-md-4">
      <app-serie-detail [serie]="selectedSerie"/>
    </div>
</div>
</div>
<router-outlet />
